     
     /* about us */




     /* INTRODUCTION */






    
/* Responsive adjustments */
@media (max-width: 768px) {
  .chairman-img {
    width: 100px;
    height: 100px;
  }
}


.about-section {
    background: #f4f4f4;
}

.icon-box i {
    font-size: 40px;
    color: #C30006;
}
 .history-section {
    background: #f4f4f4;  
}

.history-image {
    max-width: 900px; 
    border-radius: 5px;
}
                                                                   


/* ORG STRUCTURE */







.member-card {
    background: #fff;
    padding: 10px;
}

.member-img {
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.position {
    margin-top: -2px;
    font-size: 14px;
    color: #333;
}

.email {
    font-size: 13px;
    color: #d20000;
    margin-top: -5px;
}

/* CHAIRMAN MESSAGE */







/* Top Title Bar */
.title-bar {
    background: #c40000;
}

/* Image */

.chairman-img-img {
    width: 280px;          /* fixed width */
    height: 340px;         /* fixed height */
    object-fit: cover;     /* crop cleanly */
    border-radius: 6px;    /* REMOVE circular crop */
    display: block;
}



/* Right side text */
.email-text {
    color: #c40000;
    font-size: 14px;
    margin-top: -2px;
}
 

/* BOARD MEMEBERS */
.team-img {
    width: 150px;       /* smaller image */
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}
