     
     /* about us */
     /* INTRODUCTION */
     
     /* Chairman Card */
.chairman-card {
  background-color: #232d7a;
  border-radius: 20px;
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* Chairman Image */
.chairman-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

/* Welcome Card */
.welcome-card {
  background-color: #f6d7d8;
  border-radius: 20px;
  color: #000;
}

/* Buttons */
.readmore-btn {
  background-color: #1A724B;
  color: #fff !important;
  border-radius: 25px;
  padding: 8px 25px;
}

.readmore-btn:hover {
  background-color: #145c3d;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .chairman-img {
    width: 100px;
    height: 100px;
  }
}


.about-section {
    background: #f4f4f4;
}

.icon-box i {
    font-size: 40px;
    color: #C30006;
}
 .history-section {
    background: #f4f4f4;  
}

.history-image {
    max-width: 900px; 
    border-radius: 5px;
}
                                                                   


/* ORG STRUCTURE */


.member-card {
    background: #ffffff;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.member-card img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.member-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.email-link {
    font-size: 14px;
    text-decoration: none;
    color: #d40000;
}

.email-link:hover {
    text-decoration: underline;
}
