 /* TOP NAVBAR (light beige background) */
.navbar-light .navbar-brand,
.navbar-light .navbar-brand i,
.navbar-light a {
    color: white !important;
}

/* BOTTOM RED NAVBAR */
.navbar-nav .nav-link,
.navbar-brand p,
.navbar-brand {
    color: white !important;
    font-weight: 500;
    font-size: 18px;
}

/* ICONS WHITE */
.navbar i {
    color: white !important;
}

.top-bar span {
    display: flex;
    align-items: center;
    gap: 5px;
}


/* HOVER EFFECT */
.navbar-nav .nav-link:hover,
.navbar-light a:hover,
.navbar-brand:hover {
    color: #ffe7b0 !important; /* soft light-gold hover */
}

/* DROPDOWN MENU FIX */
.dropdown-menu {
    background-color: white !important; 
}

.dropdown-menu .dropdown-item {
    color: black !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #C30006 !important;
    color: white !important;
}

 .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Optional: prevent flicker */
.nav-item.dropdown .dropdown-toggle::after {
    transition: .3s;
}

.nav-logo {
    width: auto;
    height: 90px;

}


#header img.nav-logo {
  width: auto;
  height: 80px; /* adjust size as needed */
}

#id{
  color: #eff1f5;
}